@font-face {
  font-family: SuisseIntl;
  src: url("https://vm-f.github.io/-/cdn/fonts/SuisseIntl/SuisseIntl.woff2") format("woff2");
}

@font-face {
  font-family: SuisseIntl-b;
  src: url("https://vm-f.github.io/-/cdn/fonts/SuisseIntl/SuisseIntl-Bold.woff2") format("woff2");
}

@font-face {
  font-family: SuisseIntl-l;
  src: url("https://vm-f.github.io/-/cdn/fonts/SuisseIntl/SuisseIntl-Light.woff2") format("woff2");
}

@font-face {
  font-family: SuisseIntl-m;
  src: url("https://vm-f.github.io/-/cdn/fonts/SuisseIntl/SuisseIntl-Medium.woff2") format("woff2");
}

@font-face {
  font-family: SuisseIntl-sb;
  src: url("https://vm-f.github.io/-/cdn/fonts/SuisseIntl/SuisseIntl-SemiBold.woff2") format("woff2");
}
